<div class="streamhub-gallery-view"></div>
<div class="streamhub-gallery-view-notification"></div>
<div class="streamhub-gallery-view-prev">
    <div class="streamhub-gallery-view-page-button"></div>
</div>
<div class="streamhub-gallery-view-next">
    <div class="streamhub-gallery-page-button"></div>
</div>
