<div class="streamhub-gallery-view"></div>
<div class="streamhub-gallery-view-notification">
    <div class="streamhub-gallery-view-prev-button"></div>
    <div class="streamhub-gallery-view-notification-count"></div>
</div>
