z-index: {{#zIndex}}{{ zIndex }}{{/zIndex}}{{^zIndex}}0{{/zIndex}};
opacity: {{#opacity}}{{ opacity }}{{/opacity}}{{^opacity}}0{{/opacity}};
-webkit-transform: {{ transform }};
-moz-transform: {{ transform }};
-ms-transform: {{ transform }};
-o-transform: {{ transform }};
transform: {{ transform }};
{{^ignoreTransformOrigin}}
{{#transformOrigin}}
transform-origin: {{ transformOrigin }};
-webkit-transform-origin: {{ transformOrigin }};
-moz-transform-origin: {{ transformOrigin }};
-ms-transform-origin: {{ transformOrigin }};
-o-transform-origin: {{ transformOrigin }};
{{/transformOrigin}}
{{/ignoreTransformOrigin}}
