{{#contentBefore}}
.streamhub-gallery-view .content-before {
    opacity: {{#contentBefore.opacity}}{{ contentBefore.opacity }}{{/contentBefore.opacity}}{{^contentBefore.opacity}}0{{/contentBefore.opacity}};
    -webkit-transform: {{ contentBefore.transform }};
    -moz-transform: {{ contentBefore.transform }};
    -ms-transform: {{ contentBefore.transform }};
    -o-transform: {{ contentBefore.transform }};
    transform: {{ contentBefore.transform }};
    {{^ignoreTransformOrigin}}
    {{#contentBefore.transformOrigin}}
    transform-origin: {{ contentBefore.transformOrigin }};
    -webkit-transform-origin: {{ contentBefore.transformOrigin }};
    -moz-transform-origin: {{ contentBefore.transformOrigin }};
    -ms-transform-origin: {{ contentBefore.transformOrigin }};
    -o-transform-origin: {{ contentBefore.transformOrigin }};
    {{/contentBefore.transformOrigin}}
    {{/ignoreTransformOrigin}}
}
{{/contentBefore}}

{{#contentAfter}}
.streamhub-gallery-view .content-after {
    opacity: {{#contentAfter.opacity}}{{ contentAfter.opacity }}{{/contentAfter.opacity}}{{^contentAfter.opacity}}0{{/contentAfter.opacity}};
    -webkit-transform: {{ contentAfter.transform }};
    -moz-transform: {{ contentAfter.transform }};
    -ms-transform: {{ contentAfter.transform }};
    -o-transform: {{ contentAfter.transform }};
    transform: {{ contentAfter.transform }};
    {{^ignoreTransformOrigin}}
    {{#contentAfter.transformOrigin}}
    transform-origin: {{ contentAfter.transformOrigin }};
    -webkit-transform-origin: {{ contentAfter.transformOrigin }};
    -moz-transform-origin: {{ contentAfter.transformOrigin }};
    -ms-transform-origin: {{ contentAfter.transformOrigin }};
    -o-transform-origin: {{ contentAfter.transformOrigin }};
    {{/contentAfter.transformOrigin}}
    {{/ignoreTransformOrigin}}
}
{{/contentAfter}}

{{#contentAfter1}}
.streamhub-gallery-view .content-active {
    opacity: {{#contentActive.opacity}}{{ contentActive.opacity }}{{/contentActive.opacity}}{{^contentActive.opacity}}1{{/contentActive.opacity}};
    -webkit-transform: {{#contentActive.transform}}{{ contentActive.transform }}{{/contentActive.transform}}{{^contentActive.transform}}translate(0px,0px){{/contentActive.transform}};
    -moz-transform: {{#contentActive.transform}}{{ contentActive.transform }}{{/contentActive.transform}}{{^contentActive.transform}}translate(0px,0px){{/contentActive.transform}};
    -ms-transform: {{#contentActive.transform}}{{ contentActive.transform }}{{/contentActive.transform}}{{^contentActive.transform}}translate(0px,0px){{/contentActive.transform}};
    -o-transform: {{#contentActive.transform}}{{ contentActive.transform }}{{/contentActive.transform}}{{^contentActive.transform}}translate(0px,0px){{/contentActive.transform}};
    transform: {{#contentActive.transform}}{{ contentActive.transform }}{{/contentActive.transform}}{{^contentActive.transform}}translate(0px,0px){{/contentActive.transform}};
    {{^ignoreTransformOrigin}}
    {{#contentActive.transformOrigin}}
    transform-origin: {{ contentActive.transformOrigin }};
    -webkit-transform-origin: {{ contentActive.transformOrigin }};
    -moz-transform-origin: {{ contentActive.transformOrigin }};
    -ms-transform-origin: {{ contentActive.transformOrigin }};
    -o-transform-origin: {{ contentActive.transformOrigin }};
    {{/contentActive.transformOrigin}}
    {{/ignoreTransformOrigin}}
}
{{/contentAfter1}}

{{#contentBefore1}}
.streamhub-gallery-view .content-before-1 {
    opacity: {{ contentBefore1.opacity }};
    -webkit-transform: {{ contentBefore1.transform }};
    -moz-transform: {{ contentBefore1.transform }};
    -ms-transform: {{ contentBefore1.transform }};
    -o-transform: {{ contentBefore1.transform }};
    transform: {{ contentBefore1.transform }};
    {{^ignoreTransformOrigin}}
    {{#contentBefore1.transformOrigin}}
    transform-origin: {{ contentBefore1.transformOrigin }};
    -webkit-transform-origin: {{ contentBefore1.transformOrigin }};
    -moz-transform-origin: {{ contentBefore1.transformOrigin }};
    -ms-transform-origin: {{ contentBefore1.transformOrigin }};
    -o-transform-origin: {{ contentBefore1.transformOrigin }};
    {{/contentBefore1.transformOrigin}}
    {{/ignoreTransformOrigin}}
    z-index: 3;
}
{{/contentBefore1}}

{{#contentBefore2}}
.streamhub-gallery-view .content-before-2 {
    opacity: {{ contentBefore2.opacity }};
    -webkit-transform: {{ contentBefore2.transform }};
    -moz-transform: {{ contentBefore2.transform }};
    -ms-transform: {{ contentBefore2.transform }};
    -o-transform: {{ contentBefore2.transform }};
    transform: {{ contentBefore2.transform }};
    {{^ignoreTransformOrigin}}
    {{#contentBefore2.transformOrigin}}
    transform-origin: {{ contentBefore2.transformOrigin }};
    -webkit-transform-origin: {{ contentBefore2.transformOrigin }};
    -moz-transform-origin: {{ contentBefore2.transformOrigin }};
    -ms-transform-origin: {{ contentBefore2.transformOrigin }};
    -o-transform-origin: {{ contentBefore2.transformOrigin }};
    {{/contentBefore2.transformOrigin}}
    {{/ignoreTransformOrigin}}
    z-index: 2;
}
{{/contentBefore2}}

{{#contentBefore3}}
.streamhub-gallery-view .content-before-3 {
    opacity: {{ contentBefore3.opacity }};
    -webkit-transform: {{ contentBefore3.transform }};
    -moz-transform: {{ contentBefore3.transform }};
    -ms-transform: {{ contentBefore3.transform }};
    -o-transform: {{ contentBefore3.transform }};
    transform: {{ contentBefore3.transform }};
    {{^ignoreTransformOrigin}}
    {{#contentBefore3.transformOrigin}}
    transform-origin: {{ contentBefore3.transformOrigin }};
    -webkit-transform-origin: {{ contentBefore3.transformOrigin }};
    -moz-transform-origin: {{ contentBefore3.transformOrigin }};
    -ms-transform-origin: {{ contentBefore3.transformOrigin }};
    -o-transform-origin: {{ contentBefore3.transformOrigin }};
    {{/contentBefore3.transformOrigin}}
    {{/ignoreTransformOrigin}}
    z-index: 1;
}
{{/contentBefore3}}

{{#contentAfter1}}
.streamhub-gallery-view .content-after-1 {
    opacity: {{ contentAfter1.opacity }};
    -webkit-transform: {{ contentAfter1.transform }};
    -moz-transform: {{ contentAfter1.transform }};
    -ms-transform: {{ contentAfter1.transform }};
    -o-transform: {{ contentAfter1.transform }};
    transform: {{ contentAfter1.transform }};
    {{^ignoreTransformOrigin}}
    {{#contentAfter1.transformOrigin}}
    -webkit-transform-origin: {{ contentAfter1.transformOrigin }};
    -moz-transform-origin: {{ contentAfter1.transformOrigin }};
    -ms-transform-origin: {{ contentAfter1.transformOrigin }};
    -o-transform-origin: {{ contentAfter1.transformOrigin }};
    transform-origin: {{ contentAfter1.transformOrigin }};
    {{/contentAfter1.transformOrigin}}
    {{/ignoreTransformOrigin}}
    z-index: 3;
}
{{/contentAfter1}}

{{#contentAfter2}}
.streamhub-gallery-view .content-after-2 {
    opacity: {{ contentAfter2.opacity }};
    -webkit-transform: {{ contentAfter2.transform }};
    -moz-transform: {{ contentAfter2.transform }};
    -ms-transform: {{ contentAfter2.transform }};
    -o-transform: {{ contentAfter2.transform }};
    transform: {{ contentAfter2.transform }};
    {{^ignoreTransformOrigin}}
    {{#contentAfter2.transformOrigin}}
    transform-origin: {{ contentAfter2.transformOrigin }};
    -webkit-transform-origin: {{ contentAfter2.transformOrigin }};
    -moz-transform-origin: {{ contentAfter2.transformOrigin }};
    -ms-transform-origin: {{ contentAfter2.transformOrigin }};
    -o-transform-origin: {{ contentAfter2.transformOrigin }};
    {{/contentAfter2.transformOrigin}}
    {{/ignoreTransformOrigin}}
    z-index: 2;
}
{{/contentAfter2}}

{{#contentAfter3}}
.streamhub-gallery-view .content-after-3 {
    opacity: {{ contentAfter3.opacity }};
    -webkit-transform: {{ contentAfter3.transform }};
    -moz-transform: {{ contentAfter3.transform }};
    -ms-transform: {{ contentAfter3.transform }};
    -o-transform: {{ contentAfter3.transform }};
    transform: {{ contentAfter3.transform }};
    {{^ignoreTransformOrigin}}
    {{#contentAfter3.transformOrigin}}
    transform-origin: {{ contentAfter3.transformOrigin }};
    -webkit-transform-origin: {{ contentAfter3.transformOrigin }};
    -moz-transform-origin: {{ contentAfter3.transformOrigin }};
    -ms-transform-origin: {{ contentAfter3.transformOrigin }};
    -o-transform-origin: {{ contentAfter3.transformOrigin }};
    {{/contentAfter3.transformOrigin}}
    {{/ignoreTransformOrigin}}
    z-index: 1;
}
{{/contentAfter3}}
