<div class="content-header">
    <div class="content-header-inner">
        {{#author.avatar}}
            <a class="content-author-avatar" href="https://twitter.com/intent/user?user_id={{author.twitterUserId}}" target="_blank">
                <img src="{{ author.avatar }}" />
            </a>
        {{/author.avatar}}

        <div class="content-byline">
            <a class="hub-tooltip-link tooltip-twitter content-source-logo" href="https://twitter.com/statuses/{{tweetId}}/" target="_blank" title="View on Twitter"></a>
            <div class="content-author-name">
                <a href="https://twitter.com/intent/user?user_id={{author.twitterUserId}}" target="_blank">{{ author.displayName }}</a>
            </div>
            <a class="content-author-username" href="https://twitter.com/intent/user?user_id={{author.twitterUserId}}" target="_blank">@{{ author.twitterUsername }}</a>
        </div>
    </div>
</div>

<div class="content-attachments"></div>

<div class="content-body">
    {{{ body }}}
</div>

<div class="content-footer">
    <ul class="content-actions">
        <li class="content-action" data-content-action="reply">
            <a class="hub-tooltip-link content-action-reply" href="https://twitter.com/intent/tweet?in_reply_to={{tweetId}}" title="Reply">
                <span>Reply</span>
            </a>
        </li>
        <li class="content-action" data-content-action="retweet">
            <a class="hub-tooltip-link content-action-retweet" href="https://twitter.com/intent/retweet?tweet_id={{tweetId}}" title="Retweet">
                <span>Retweet</span>
            </a>
        </li>
        <li class="content-action" data-content-action="favorite">
            <a class="hub-tooltip-link content-action-favorite" href="https://twitter.com/intent/favorite?tweet_id={{tweetId}}" title="Favorite">
                <span>Favorite</span>
            </a>
        </li>
    </ul>

    <div class="content-meta">
        {{#formattedCreatedAt}}
        <div class="content-created-at"><a href="https://twitter.com/statuses/{{tweetId}}/" target="_blank">{{{formattedCreatedAt}}}</a></div>
        {{/formattedCreatedAt}}
    </div>
</div>
